.scrollComponent{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.createPostContainer{
    display: flex;
    height: 10vh;
    width: 80%;
    padding-inline: 0.8rem;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(255,246,246);
    border-radius: 20px;
}
.createPostContainer > textarea {
    width: 100%;
}
.fab{
    background-color: #284568;
    width: 35px;
    height: 30px;
    border-radius: 100%;
    justify-content: center;
    display: flex;
}
.fab > i {
    width: 100px;
    margin-left: 10px;
    margin-top: 8.8px;
    color: white;
}

.textAreaOfContent{
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;

}
.uploadButton{
    position: absolute;
    right: 0;
    bottom: -12px;
    background: #284568;
    color: white;
    padding-inline: 0.8rem;
    border-radius: 10px;
    cursor: pointer;

}

.singleCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid ;
}