
.container{
    font-family: 'Poppins', sans-serif;
    padding: 1.2rem;
}

.mainContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-inline: 2rem;
    height: 80vh;
}

.leftContainer{
    flex: 0.5;
}

.rightContainer{
    f
}